.shop-area{
    display: grid;
    grid-template-columns: 4fr 1fr;

    

}

.product-container{
    padding-left: 140px;
    background: #ddd;
    padding-right: 10px;

}


.product-cart-container{
    background-color:  #FF9900;
    padding: 10px 20px;
    min-height: 90vh;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.cart-text{
    padding: 0px 10px;
}